@media (min-width: 768px){
    #pane {
        flex-flow: column nowrap;
        left: 0;
        position: absolute;
        /* height: 100vh; */
    }
    
    li {
        background-color: transparent;
        cursor: pointer;
    }

    .list-unstyled {
        padding-left: 0;
        list-style: none;
    }
    .align-items-center {
        align-items: center !important;
    }

    .d-inline-flex {
        display: inline-flex !important;
    }

    a {
        text-decoration: none;
    }

    button {
        border: none;
        background: none;
    }
}